/*============================================================================*/
/* Accordion Component */
.t-accordion {
    @include shadows();
    background:#ffffff;
    border-radius: 15px;
    margin:10px auto;
    padding:1rem 3rem;
    h2 {
        color:$primary;
        font-size:calc(1vw + 1.5rem);
        font-weight:bold;
        margin:0;
        padding-top:2rem;
        text-align:center;
    }
    .com-desc {
        color:$primary;
        font-size:1vw;
        padding:0;
        text-align:center;
    }
    label {
        color:$primary;
    }
    .row{
        font-size: 20px;
    }
    .filter-tabs,
    .nav.nav-tabs {
        @include clean();
    }
    .table-actions {
        @include norecord();
        @include clean();
    }
    .t-accordion-item.accordion-item.active .accordion-title span,
    .t-accordion-item.accordion-item .accordion-title i.far.a-icon {
        color:$secondary;
    }
    .t-accordion-item.accordion-item .accordion-title span,
    .t-accordion-item.accordion-item.active .accordion-title i.far.a-icon {
        color:$primary;
    }
    .filter-tabs .nav.nav-tabs > li > a{
        @include primarybtn(none);
        border-radius: 30px;
        &:hover,
        &focus,
        .filter-tabs .nav.nav-tabs > li.active > a{
            @include hoverbtn();
        }
    } 
}
.t-accordion.t-accordion .col-md-12,
.t-accordion.t-accordion .col-md-6,
.t-accordion.t-accordion .col-md-4 {
    border-radius: 50px;
    border: none;
    margin:10px auto;
}
.t-accordion.t-accordion .col-md-12 .accordion-item,
.t-accordion.t-accordion .col-md-6 .accordion-item,
.t-accordion.t-accordion .col-md-4 .accordion-item {
    border-radius: none; 
    border: none;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25), -5px -5px 10px 0 rgba(255, 255, 255, 0.3);
    padding: 18px 0;
    position: relative;
    transition: all .1s ease-in-out;
}
.t-accordion.t-accordion .col-md-12 .t-accordion-item.accordion-item.active,
.t-accordion.t-accordion .col-md-6 .t-accordion-item.accordion-item.active,
.t-accordion.t-accordion .col-md-4 .t-accordion-item.accordion-item.active,
.t-accordion.t-accordion .col-md-12 .accordion-item:hover,
.t-accordion.t-accordion .col-md-6 .accordion-item:hover,
.t-accordion.t-accordion .col-md-4 .accordion-item:hover {
    box-shadow: 10px 10px $primary;
}