$MainB: white;
$prima1:hsl(223, 22%, 86%);
$primary:hsl(222, 22%, 33%);
$secondary:hsl(79, 30%, 61%);

$Text:hsl(0, 0%, 10%);
$itext:hsl(0, 0%, 100%);

$accent1:hsl(79, 31%, 80%); 
$accent2: hsl(158, 26%, 86%);

$statlightb:#66ccff;
$statred:#cc0000;
$statorange:#ff9900;
$statpurple:#9900ff;
$statyellow:#ffd11a;
$statblack:#262626;
$statpink:#ff4dcf;
$statgreen:#80B31B;