$MainB: white;
$prima1:hsl(223, 22%, 86%);
$primary:hsl(192, 98%, 21%);
$secondary:hsl(65, 100%, 42%);

$Text:hsl(240, 2%, 35%);
$itext:hsl(0, 0%, 100%);
$lighttext: #8392ab;

$accent1:hsl(79, 31%, 80%); 
$accent2: hsl(158, 26%, 86%);

$statlightb: hsl(186, 100%, 39%);
$statdarkblue: hsl(200, 100%, 41%);
$statred:hsl(0, 100%, 40%);
$statorange:#f7911d;
$statoranged:#D3652A;
$statpurple:hsl(245, 31%, 53%);
$statyellow:#ffd11a;
$statblack:#262626;
$statpink:#ff4dcf;
$statgreen:#284814;