$MainB: white;
$prima1:hsl(223, 22%, 86%);
$primary:hsl(192, 98%, 21%);
$secondary:hsl(65, 100%, 42%);

$Text:hsl(240, 2%, 35%);
$itext:hsl(0, 0%, 100%);
$lighttext: #8392ab;

$accent1:hsl(79, 31%, 80%); 
$accent2: hsl(158, 26%, 86%);

$statlightb:hsl(200, 100%, 70%);
$statdarkblue: hsl(197, 80%, 15%);
$statred:#e0002d;
$statorange:hsl(17, 81%, 47%);
$statoranged:hsl(19.6, 82.8%, 45%);
$statpurple:hsl(276, 100%, 50%);
$statyellow:hsl(48, 100%, 55%);
$statblack:hsl(0, 0%, 15%);
$statpink:hsl(316, 100%, 65%);
$statgreen:#7fb11b;