$MainB: white;
$prima1:hsl(223, 22%, 86%);
$primary:#333333;
$secondary:hsl(348, 100%, 44%);

$Text:hsl(0, 0%, 10%);
$itext:hsl(0, 0%, 100%);

$accent1:hsl(354, 70%, 54%); 
$accent2: hsl(17, 81%, 47%);

$statlightb:hsl(200, 100%, 70%);
$statred:hsl(348, 100%, 44%);
$statorange:hsl(17, 81%, 47%);
$statpurple:hsl(276, 100%, 50%);
$statyellow:hsl(48, 100%, 55%);
$statblack:hsl(0, 0%, 15%);
$statpink:hsl(316, 100%, 65%);
$statgreen:#80B31B;