$MainB: hsl(0, 0%, 100%);
$prima1:hsl(223, 22%, 86%);
$primary:hsl(198, 100%, 44%);
$secondary:hsl(345, 100%, 40%);

$Text:hsl(0, 0%, 10%);
$itext:hsl(0, 0%, 100%);

$accent1:hsl(79, 31%, 80%); 
$accent2: hsl(158, 26%, 86%);
$lighttext: #8392ab;

$statlightb:#00b0f0;
$statdarkblue:hsl(200, 100%, 40%);
$statred:#cc0033;
$statorange:#ff9900;
$statoranged:hsl(36, 100%, 40%);
$statpurple:#9900ff;
$statdarkpurple:hsl(276, 100%, 13%);
$statyellow:#ffd101;
$statyellowed:hsl(48, 84%, 41%);
$statblack:#262626;
$statpink:#ff4dcf;
$statgreen:#80B31B;