$primary:hsl(197, 80%, 25%);
$secondary:hsl(19.6, 82.8%, 52.2%);

$MainB: white;
$prima1:hsl(223, 22%, 86%);

$Text:hsl(0, 0%, 10%);
$itext:hsl(0, 0%, 100%);

$accent1:hsl(79, 31%, 80%); 
$accent2: hsl(158, 26%, 86%);

$statlightb:hsl(197, 80%, 25%);
$statdarkblue: hsl(197, 80%, 15%);
$statred:hsl(0, 100%, 40%);
$statorange:hsl(19.6, 82.8%, 52.2%);
$statoranged:hsl(19.6, 82.8%, 45%);
$statpurple:#9900ff;
$statyellow:#ffd11a;
$statblack:#262626;
$statpink:#ff4dcf;
$statgreen:#80B31B;