/*============================================================================*/
/*Breadcrumb Component*/
.t-breadcrumb{
    @include media ('<tablet'){
        display: none;
    }
    .breadcrumb-wrap .breadcrumb {
        list-style-type: none;
        padding: 0;
        background: none;
        margin-top: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0.25rem;
    }
    .breadcrumb-wrap .breadcrumb li {
        display: inline-block;
        position: relative;
        color: #ffffff;
        margin-left: 0.25rem;
    }
    .breadcrumb-wrap .breadcrumb li:last-child a {
        background: none;
        cursor: default;
    }
    .breadcrumb-wrap .breadcrumb li:first-child::before{
        border:1px solid $secondary;/* important */
        border-bottom:none; 
    }
    .breadcrumb-wrap .breadcrumb li:first-child::after {
        border:1px solid $secondary;/* important */
        border-top: 1px solid #ffffff;/* important */
    }
    .breadcrumb-wrap .breadcrumb li:last-child::before{
        border:1px solid $secondary;
        border-bottom:unset;
    }
    .breadcrumb-wrap .breadcrumb li:last-child::after {
        border:1px solid $secondary;
        border-top:unset;
    }
    .breadcrumb-wrap .breadcrumb li:last-child::before, 
    .breadcrumb-wrap .breadcrumb li:last-child::after {
        background: $secondary;
        content: '';
        color: #ffffff;
    }
    .breadcrumb-wrap .breadcrumb li::before, 
    .breadcrumb-wrap .breadcrumb li::after {
        content: '';
        position: absolute;
        left: 0.375rem;/* important */
        height: 20%;
        width: 100%;
        border-left: 1px solid $secondary;
        border-right: 1px solid $secondary;
        z-index: -2;
    }
    .breadcrumb-wrap .breadcrumb li::before {
        content: '';
        top: -1px;
        transform: skew(30deg);
        border-top: 1px solid $secondary;
    }
    .breadcrumb-wrap .breadcrumb li::after {
        bottom: -2px;
        transform: skew(-30deg);
        border-bottom: 1px solid $secondary;
    }
    .breadcrumb-wrap .breadcrumb a {
        background: none;
        color: $secondary;
        display: inline-block;
        position: relative;
        line-height: 2.5;
        outline:none;
        padding: 0 1.25rem;
        text-decoration: none;
    }
    .breadcrumb-wrap .breadcrumb li:first-child {
        background: none;
        left:0;
        box-sizing: content-box;
        margin-left: 0;
        color:$primary;
    }
    .breadcrumb-wrap .breadcrumb li:first-child a{
        color:$secondary;
    }
    .breadcrumb-wrap .breadcrumb li:first-child::before,
    .breadcrumb-wrap .breadcrumb li:first-child::after {
        left: .25rem;
        background:$MainB;
    }
    .breadcrumb-wrap .breadcrumb>li+li:before {
        margin: unset;
    }
}