/*============================================================================*/
/*Detail Componenent*/
.sv-detail {
    .t-detail {
        @include shadows();
        background-color:#ffffff;
        border-radius:1rem;
        margin: 10px auto;
        padding:1rem 3rem;
        position:relative;
        label {
            color:$primary;
            font-weight:700;
            letter-spacing:1px;
            margin-bottom:5px;
            &:before {
                background: $primary;
                border-radius: 50%;
                color:#ffffff;
                text-align: center;
                padding: 0 5px;
            }
        }
        .form-group {
            color:$Text;
            display: inline-block;
            font-size: 15px;
            padding-left:25px;
        }
        span {
            display: inline-block;
        }
        a {
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 20px;
            &:hover,
            &:focus{
            @include hoverbtn();
            outline: none;
            }
        }
        .img-responsive {
            border:none;
            outline: none;
            box-shadow: 10px 10px $primary;
            margin: 10px auto;
        }
    }
}

.t-detail {
    @include shadows();
    background-color:#ffffff;
    border-radius:1rem;
    margin: 10px auto;
    padding:1rem 3rem;
    position:relative;
    h3{
        box-shadow: 0 2px $secondary;
        color: $primary;
        @include media ('>=tablet') {
            box-shadow: none;
        }
    }
    label{
        color:$primary;
        font-weight:700;
        letter-spacing:1px;
        margin-bottom:5px;
    }
    .form-group span{
        color:$Text;
        font-size: 15px;
    }
    a{
        color: $secondary;
        font-weight: bold;
        text-decoration: none;
        &:hover{
            color: $primary;
        }
    }
    .img-responsive{
        border:5px solid #ffffff;
        margin: 10px auto;
        // outline: 5px solid $primary;
    }
}