/*============================================================================*/
/* Form Component */
.t-form {
    @include shadows();
    background:#ffffff;
    border-radius:15px;
    margin:10px auto;
    padding:1rem 3rem;
    text-align: left;
    .form-horizontal {
        @include shadows();
        display:inline-block;
        max-width:100px;
        position:relative;
        text-align:center;
        z-index:1;
    }
    h3 {
        background:none;
        border-radius:15px 15px 0 0;
        color:$primary;
        font-weight:bold;
        margin:10px auto;
        padding:1rem;
        text-align:center;
    }
    .lbl {
        color:$primary;
        font-size:12px;
        font-weight:700;
        letter-spacing:1px;
        text-align:left;
        text-transform:uppercase;
    }
    .form-control {
        background:rgba(109, 124, 144, .1);
        border: 2px solid transparent;
        box-shadow: none;
        color:#333;
        font-size:15px;
        font-weight:bold;
        height:35px;
        line-height:1.429;
        margin:auto -1px;
        padding:5px 15px;
        width:100%;
        &:hover{
            border:2px solid $primary;
        }
        &:focus{
            background-color:#ffffff;
            border:2px solid $primary;
        }
    }
    .btn.btn-default.btn-sm.active{
        background-color:$primary;
    }
    .t-form-name>table{
        width: 100%;
    }
    .t-form-name label{
        color:$secondary;
    }
    .tb-checkbox{
        font-weight:bold;
        padding:5px 10px;
        text-align:left;
        &:hover{
            @include hoverbtn();
        }
    }
    .td-back-link a{
        background:none;
        border:2px solid $primary;
        border-radius: 15px;
        color:$primary;
        padding: 5px 10px;
        transition: all .1s ease-in-out;
        &:hover{
            @include btnshadow();
            background:$primary;
            border-color: white;
            color: white;
            text-decoration: none;
        }
    }
    .alert-danger {
        margin:10px auto;
    }
    .text-center.tb-checkbox{/*checkbox*/
        font-weight:bold;
        padding:5px 10px;
        text-align:left;
        width:100%;
        &:hover{
            @include hoverbtn();
        }
    }
    /*radio*/
    .t-form-radio .tb-radio{
        font-weight:bold;
        padding:5px 10px;
        text-align:left;
        width:100%;
        &:hover{
            @include hoverbtn();
            border-radius:15px;
        }
    }
    /*multi-select*/
    .t-form-multiple{
        height:10vh;
    }
        /*slider*/
    .rzslider .rz-bubble {
        bottom:16px;
        color:$primary;
        cursor:defalt;
        font-weight:bold;
        padding:1px 3px;
    }
    .rzslider .rz-bubble.rz-limit {
        color:$secondary;
    }
    .rzslider .rz-bar {
        background:#E8EAE5;
        border-radius:30px; 
        height:5px;
        left:0;
        width:100%;
        z-index:1;
    }
    .rzslider .rz-selection {
        background:#333;
        border-radius:2px;
        z-index:2;
    }
    .rzslider .rz-pointer {
        background-color:$primary;
        border-radius:16px;
        cursor:pointer;
        height:32px;
        top:-14px;
        width:32px;
        z-index:3;
        &:focus{
            outline:none;
        }
    }
    .rzslider .rz-pointer:after {
        background:#ffffff;
        border-radius:4px;
        content:'';
        height:8px;
        left:12px;
        position:absolute;
        top:12px;
        width:8px;
    }
    .rzslider .rz-pointer:hover:after {
        background-color:#ffffff;
        outline: none;
    }
    .rzslider .rz-pointer.rz-active:after {
        background-color:#ffffff;
    }
    /*Form:Button Element*/
    .input-group-btn:last-child>.btn,
    .input-group-btn:last-child>.btn-group {
        margin-left:-1px;
        z-index:2;
    }
    .input-group-btn:last-child>.btn:hover,
    .input-group-btn:last-child>.btn-group {
        @include hoverbtn();
    }

    .form-navigation-pages ul li > .p-step{
        background:$secondary;
    }
    .form-navigation-pages ul li.active::after,
    .form-navigation-pages ul li.active > .p-step,
    .btn.btn-sm.active {
        background:$primary;
        color:#ffffff;
    }
    .form-group .t-form-address div{
        width:100%;
    }
    .btn.btn-success.af-form-submit {
        background: $primary;
        border:2px solid $primary;
        font-weight: bold;
        width: 100%;
        outline:none;
        padding: 10px 0;
        transition: all .1s ease-in-out;
        &:hover{
            background: none;
            @include btnshadow();
            color: $primary;
        }
    }
}

.input-group-addon:first-child {
    background:$secondary;
    color:#ffffff;
    font-weight:700;
}

/* connection list view */
.t-form-connection{
    label{
        color:$primary;
    }
    .t-ctrl-record-selector .unlink-record{
        background-color: $secondary;
        &:hover{
            background-color: $primary;
        }
    }
}

/*address*/
.field-address-label {
    @include hiderec();
}

/*signature*/
/* .t-form .form-group .signature-pad{
    margin:auto;
    width:100%;
}
 .signature-pad canvas{
    height:auto;
} */

// Input
input{
    accent-color: $primary;
}