h1, h2, h3, h4, h5{
    font-family: 'Open Sans', sans-serif;
    line-height: normal;
    margin: 0px;
    padding: 0px;
}

body, p, a{
    font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
}

body{
    background: $MainB;
    font-size: 18px;
    margin: auto 10px;
}

::selection {
    background: $primary;
    color: white;
}

/*============================================================================*/
/* General Settings */

/*connection-field*/
.select2-container {
    border:2px solid transparent;  
    border-radius: 5px;
}
.select2-container:hover{
    border:2px solid $primary;
}
.select2-container .select2-selection--single {
    height:32px;
}
.select2-container--classic.select2-container--open .select2-selection--multiple {
    border:1px solid $primary;
}
.select2-results__options{
    color:$primary;
    font-weight:bold;
}
.select2-container--classic .select2-results__option--highlighted[aria-selected] {
    background-color:$primary;
    color:$itext;
}
.select2-container--classic .select2-selection--single .select2-selection__rendered{
    line-height: 20px;
}
.select2-container--classic .select2-selection--single {
    background:rgba(109, 124, 144, .1);
    border:none;
    background-image:none;
}
.select2-container--classic .select2-selection--single:focus {
    border:2px solid $primary;
}
.select2-container--classic .select2-selection--single .select2-selection__arrow {
    background-image:none;
    background-color:$secondary;
    border-left:1px solid $secondary;
    height:30px;
}
.select2-container--classic .select2-selection--single .select2-selection__arrow b {
    border-color:#ffffff transparent transparent;
}
.select2-container--classic.select2-container--open .select2-selection--single {
    border:1px solid $primary;
}
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
    background:$secondary;
    border:none
}
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color:#ffffff transparent #ffffff;
    border-width:0 4px 5px
}
.select2-container--classic .select2-selection--multiple{
    background:rgba(109, 124, 144, .1);
    border:none;
}
.select2-container--classic .select2-selection--multiple:focus {
    border:1px solid $primary;
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice {
    background-color:$secondary;
    border-color: $secondary;
    color: $itext;
    padding: 0 10px;
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    color:$itext;
}
.select2-container--classic .select2-search--inline .select2-search__field {
    background: none;
}
.select2-container--classic .select2-search--dropdown .select2-search__field {
    border:1px solid $secondary;
}
select{
    appearance: none;
}
option {
    color:$secondary;
}
.select2-container--classic .select2-selection--single .select2-selection__rendered{    /*connection-field*/
    line-height: 20px;
}
.select2-selection__rendered {
    color:#333;
    font-weight:bold;
    padding:2px 25px;
    font-size:15px;
}

.noclick{
    pointer-events:none;
}

::selection {
    background: $primary;
    color: #ffffff;
}

.required{
    color:$secondary;
}

.text-info {
    color:#ffffff;
}

.text-muted {
    color:black;
}

/*============================================================================*/
/*Alert*/
.alert-success,
.alert.alert-success {
    @include hoverbtn();
    margin:10px auto;
}

/*============================================================================*/
/* Button Component */
.t-linkbutton{
    .btn.btn-primary,
    .btn-primary{
        background:$primary;
    }
}

.btn{
    margin: 2px auto;
    outline: none;
    &:hover,
    &:active,
    &:focus{
        outline: none;
    }
}

/*============================================================================*/
/* Status Labels */
.t-datatable,
.t-list,
.t-form,
.t-logincomponent,
.t-detail,
.t-kanban,
.t-timeline{
    .badge.badge-wh-1{
        @include stats($statpurple);
    }

    .badge.badge-wh-2{
        @include stats($secondary);
    }

    .badge.badge-wh-3{
        @include stats($statlightb);
    }

    .badge.badge-wh-4{
        @include stats($statorange);
    }

    .badge.badge-wh-5{
        @include stats($statred);
    }

    .badge.badge-wh-6{
        padding: 5px 10px;
    }

    .badge.badge-wh-7{
        @include stats($statpink);
    }

    .badge.badge-wh-8{
        @include stats($statyellow);
    }

    .badge.badge-wh-9{
        @include stats ($primary);
    }

    .badge.badge-wh-10{
        @include stats ($statblack);
    }
}

#goTopBtn {
    background:none;
    border: none;
    bottom: -20px;
    cursor: pointer;
    display: none;
    font-size: 18px;
    opacity: 1;
    outline: none;
    padding: 15px;
    position: fixed;
    right: 0;
    z-index: 99;

    i{
        color: white;
        background: $primary;
        border-radius: 50px;
        width: 40px;
        height: 40px;
        display:grid;
        place-items:center;

        &:hover{
            background: white;
            border:2px solid $primary;
            @include btnshadow();
            color: $primary;
        }
    }
}

#goBackBtn {
    background:none;
    border: none;
    bottom: -20px;
    cursor: pointer;
    display: none;
    font-size: 18px;
    opacity: 1;
    outline: none;
    padding: 15px;
    position: fixed;
    left:0;
    z-index: 99;

    i{
        color: white;
        background: $primary;
        border-radius: 50px;
        width: 40px;
        height: 40px;
        display:grid;
        place-items:center;

        &:hover{
            background: white;
            border:2px solid $primary;
            @include btnshadow();
            color: $primary;
        }
    }
}

/*============================================================================*/
/*Button style */
.btn-default,
.btn.btn-default {
    color: #ffffff;
    background-color: #616060;
    background-image: none;
    border-color: #616060;
    outline: none;
    &:hover,
    &:focus,
    &:active{
        color: #ffffff;
        background-color: $Text;
        border-color: $Text;
        outline: none;
    }
}

/*=======================================*/
.btn-primary,
.btn.btn-primary  {
    color: #ffffff;
    background-color: $primary;
    background-image: none;
    border-color: $primary;
    outline: none;
    &:hover{
        background-color: $primary;
        border-color: $primary;
        color: #ffffff;
    }
    &:focus,
    &:active{
        background-color: $primary !important;
        border-color: $primary !important;
        color: #ffffff !important;
        outline: none; 
    }
}

/*=======================================*/
.btn-success,
.btn.btn-success {
	color: #ffffff;
	background-color: $statgreen;
    background-image: none;
	border-color: $statgreen;
	outline: none;
    &:hover,
    &:focus,
    &:active{
        color: #ffffff;
        background-color: $statgreen;
        border-color: $statgreen;
        outline: none;
    }
}

/*=======================================*/
.btn-info,
.btn.btn-info{
	color: #ffffff;
	background-color: $statpurple;
    background-image: none;
	border-color: $statpurple;
	outline: none; 
    &:hover,
    &:focus,
    &:active{
        color: #ffffff;
        background-color: $statdarkpurple;
        border-color: $statdarkpurple;
        outline: none;
    }
}

/*=======================================*/
.btn-warning,
.btn.btn-warning {
	color: #ffffff;
	background-color: $statorange;
    background-image: none;
	border-color: $statorange;
	outline: none;
    &:hover,
    &:focus,
    &:active{
        color: #ffffff;
        background-color: $statoranged;
        border-color: $statoranged;
        outline: none;
    }
}

/*=======================================*/
.btn-danger,
.btn.btn-danger {
	color: #ffffff;
	background-color: $statred;
    background-image: none;
	border-color: $statred;
	outline: none;
    &:hover,
    &:focus,
    &:active{
        color: #ffffff;
        background-color: $statred;
        border-color: $statred;
        outline: none;
    }
}