/*============================================================================*/
/* Image Component */ 
.t-image.x-type-image .caption {
    padding: 2rem;
    color:#676666;
    text-align: center;
    border-top:unset;
}

/* Set a image size */
.t-image.x-type-image img{
    width:100%;
    &:hover{
        outline:none;
    }
}