/*============================================================================*/
/* Login Component */
.t-logincomponent {
    align-items: center;
    display:flex;
    // height: 75vh;
    justify-content: center;
    margin-top:25px;
    margin: auto;
    max-width:500px;
    padding:4rem;
    .form-horizontal {
        background:none;
        position:relative;
        z-index:1;
        display:inline-block;
    }
    h2 {
        border-radius:15px 15px 0 0;
        color:white;
        font-weight:bold;
        font-size: 2vw;
        margin:-15px -15px 20px -15px;
        padding-top:3rem;
        padding:1rem;
        text-align:center;
        @include media ('<=phone'){
            font-size: 10vw;
        }
        @include media ('>phone', '<=tablet'){
            font-size: 5vw;
        }
        @include media ('>tablet', '<=desktop'){
            font-size: 3vw;
        }
    }
    form {
        background:none;
    }
    .control-label {
        // display:none;
        color:$secondary;
        font-size:12px;
        font-weight:500;
        letter-spacing:1px;
        text-align:left;
        text-transform:uppercase;
        width:100%;
    }
    .form-control {
        background:$secondary;
        border: 3px solid transparent;
        color:#ffffff;
        box-shadow:none;
        font-size:15px;
        font-weight:bold;
        height:50px;
        line-height:1.429;
        padding:5px 15px;
        transition: all .1s ease-in-out;
        &:hover,
        &:focus{
            border-color: $primary;
        }
    }
    .form-control::placeholder {
        color:#ffffff;
        opacity:.5;
        font-weight: 500;
    }
    .btn.btn-primary {
        background:$secondary;
        border:3px solid $primary;
        border-radius:25px;
        color:#ffffff;
        font-weight:bold;
        height:50px;
        margin: 10px auto;
        text-transform:uppercase;
        transition: all .1s ease-in-out;
        width:100%;
    }
    .btn.btn-primary:hover {
        background:$primary;
        color:#ffffff;
    }
    .btn.btn-default {
        background:none;
        border-color:$secondary;
        border:2px solid $secondary;
        color:$secondary;
        height:50px;
        margin:10px auto;
        padding: 1.5rem;
        width:100%;
        transition: all .1s ease-in-out;
    }
    .btn.btn-default.btn-sso-google:hover,
    .btn.btn-default.btn-sso-twitter:hover,
    .btn.btn-default.btn-sso-facebook:hover {
        border-color:$primary;
        color:$primary;
    }
    .btn-signin:focus {
        outline:none;
    }
    .form-group div {
        width:100%;
    }
    a,
    p {
        color:white;
        display: flex;
        justify-content: center;
    }
    .alert.alert-success {
        background:$primary;
        border-color:$primary;
        color:#ffffff;
    }
}