/*============================================================================*/
/* Menu Component */
.t-menuitem.x-menu-style-horizontal,
.t-menuitem.x-menu-style-vertical{
    background: $primary;
}

.t-menuitem.x-menu-style-vertical{
    width: calc(100% - 80%);
}

.t-menuitem {
    @include clean();
    box-shadow: 100px 0 $primary, -100px 0 $primary;
    overflow: inherit;
    top: 0;
    left:0;
    width: 100%;
    z-index:1049;

    @include media ('<tablet') {
        box-shadow: none;
    }

    .navbar.navbar-default {
        background:$primary;
        border:transparent;
        border-radius:0px;
        margin:0 auto;

        @include media ('<tablet') {
            background:$primary;
        }
    }

    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:hover,
    .navbar-default .navbar-nav>.active>a:focus {
        color:white;
        box-shadow:inset 0 5px $secondary;

        @include media ('<tablet'){
            background-color: $secondary;
        }
    }

    .navbar-default .navbar-nav>li>a {
        background: none;
        color: #ffffff;
        font-weight: bold;
        line-height: 50px;
        outline: none;
        transition: all .1s ease-in-out;
        
        @include media ('<tablet') {
            color: white;
            line-height: 1.5em;
        }
        &:hover,
        &:active,
        &:focus{
            box-shadow:inset 0 5px $secondary;
            background: $secondary;

            @include media ('<tablet'){
                border:none;
                border-left: 5px solid $secondary;
                background: $secondary;
                box-shadow: none;
                color:white;
            }
        }
    }
    .dropdown-menu>li>a{
        color:$primary;
        background:none;
        border-left: 10px solid $secondary;
        font-weight:bold;
        transition: all .1s ease-in-out;
        
        &:hover{
            color:$itext;
            background:$primary;
            border-left: 10px solid $primary;
            box-shadow: 10px 0 $secondary;
        }
    }

    .navbar-default .navbar-nav>li:before,
    .navbar-default .navbar-nav>li:after,
    .dropdown-menu>li:after{
        position:absolute;
        left:0;
        width:100%;
        height:2px;
        background:$primary;
        transform:scale3d(0, 1, 1);
        transition: all .1s ease-in-out;
    }

    .navbar-default .navbar-nav>li:after {
        bottom:0;
        transform-origin:100% 50%;
    }

    .navbar-default .navbar-nav>li:before {
        top:0;
        transform-origin:0 50%;
    }

    .navbar-default .navbar-nav>li:hover:before,
    .navbar-default .navbar-nav>li:hover:after,
    .dropdown-menu>li:hover:after{
        transform:scale3d(1, 1, 1);
        transition-timing-function:cubic-bezier(0.22, 0.61, 0.36, 1);
        transition-duration:0.2s;
    }

    .navbar-collapse{
        border-color: transparent;
        box-shadow: none;
    }

    .navbar-toggle{
        background:none;
        border:2px solid transparent;
        float:none;

        &:hover,
        &:focus{
            background:none;
            border:2px solid $primary;
        }

        .icon-bar {
            background: $secondary;
            height: 5px;
            width: 25px;
            border-radius: 5px;

            &:focus{
                background:$primary;
            }
        }
    }

    .dropdown-menu {
        padding:0;
        border:none;
    }

    .dropdown-menu>li>a {
        padding:15px 20px;
    }
}

.sv-secondary {
    .collapse{
        display: block;
    }
      .collapsed{
        display: none;
    }
    .t-menuitem {
        @include clean();
        box-shadow:none;
        overflow: inherit;
        top: 0;
        left:0;
        width: 100%;
        z-index:1049;
        @include media ('>tablet') {
            display: block;
        }
        .navbar.navbar-default {
            background:none;
            border:transparent;
            border-radius:0px;
            margin:0 auto;
            @include media ('<tablet') {
                background:none;
            }
        }
        .navbar-default .navbar-nav>li>a {
            background: none;
            border: none;
            box-shadow: none;
            color: $primary;
            font-weight: bold;
            transition: all .1s ease-in-out;
            text-align: center;
            transform: scale(1.1);
            &:hover,
            &:active,
            &:focus{
                color:$secondary;
            }
            @include media ('<tablet'){
                transform: scale(1.2);
            }
        }
        .dropdown-menu>li>a{
            color:$primary;
            background:none;
            border-left: 10px solid $secondary;
            font-weight:bold;
            transition: all .1s ease-in-out;
            &:hover{
                color:$itext;
                background:$primary;
                border-left: 10px solid $primary;
                box-shadow: 10px 0 $secondary;
            }
        }
        .navbar-default .navbar-nav>li:before,
        .navbar-default .navbar-nav>li:after,
        .dropdown-menu>li:after{
            position:absolute;
            left:0;
            width:100%;
            height:2px;
            background:$primary;
            transform:scale3d(0, 1, 1);
            transition: all .1s ease-in-out;
        }
        .navbar-default .navbar-nav>li:after {
            bottom:0;
            transform-origin:100% 50%;
        }
        .navbar-default .navbar-nav>li:before {
            top:0;
            transform-origin:0 50%;
        }
        .navbar-default .navbar-nav>li:hover:before,
        .navbar-default .navbar-nav>li:hover:after,
        .dropdown-menu>li:hover:after{
            transform:scale3d(1, 1, 1);
            transition-timing-function:cubic-bezier(0.22, 0.61, 0.36, 1);
            transition-duration:0.2s;
        }
        .navbar-collapse{
            border-color: transparent;
            box-shadow: none;
        }
        .navbar-toggle{
            background:none;
            border:2px solid $primary;
            border-radius: 50%;
            float:none;
            height: 50px;
            width: 50px;
            transition: all .1s ease-in-out;
            &:hover,
            &:focus{
                background:none;
                border:2px solid $secondary;
                border-radius: 0;
                transform: rotate(90deg);
            }
            .icon-bar {
                background: $primary;
                height: 5px;
                width: 25px;
                border-radius: 5px;
                &:focus{
                    background:$primary;
                }
            }
        }
        .dropdown-menu {
            padding:0;
            border:none;
            width: calc(120%);
        }
        .dropdown-menu>li>a {
            padding:15px 20px;
        }
    }
}