@mixin loading-1 {
    background: white;
    border-radius: 50%;
    transform:rotate(45deg);
    position:fixed;
    left:45%;
    top:50%;
    margin:-25px 0 0 -25px;
    height:100px;
    width:100px;

    &::before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        inset: 0px;
        border-radius: 50%;
        border:24px solid $primary;
        animation: prixClipFix 2s infinite linear;
    }

    @keyframes prixClipFix {
        0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
        25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
        50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
        75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
        100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
    }
}



@mixin HideIcon {
    &>i{
        display: none;
    }
    &:hover>i{
        display: inline;
    }
}

@mixin UnderlineAnimation {
    position: relative;
    &:before{
        background-color: $secondary;
        bottom: 0;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        transform: scaleX(0);
        transform-origin: bottom left;
        transition: transform .25s linear;
        width: 100%;
    }
    &:hover::before{
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

@mixin calborder {
    border:1px dashed #ddd;
}

@mixin psfix ($fontsize) {
    color:$secondary;
    font-size:$fontsize;
    font-weight:bold;
}

@mixin norecord {
    display:none;
    pointer-events:none;
    transition: all .1s ease-in-out;
}

@mixin hiderec {
    opacity:0;
    pointer-events:none;
}

@mixin shadows {
    box-shadow:0px 5px 15px #959da533;
}

@mixin inshadow {
    box-shadow:inset 0 7px 29px 0 #64646f33;
}

@mixin balance{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin SuperCentered {
    display: grid;
    place-items: center;
}

@mixin clean {
    border-bottom:none;
    background:none;
    border:none;
}

@mixin cleaner {
    background: none;
    border: none;
    box-shadow: none;
}

@mixin linkbtn ($txtform) {
    color:$secondary;
    font-weight: 700;
    text-transform:$txtform;
    transition: all .1s ease-in-out;
}

@mixin linkhover {
    color:$primary;
}

@mixin hoverbtn {
    transform: scale(1.01);
    outline: none;
}

@mixin activebtn {
    background: $secondary;
    outline: none;
}

@mixin stats ($statcolor) {
    background: $statcolor;
    color:#ffffff;
    padding: 5px 10px;
}

@mixin primasegunda {
    background:linear-gradient(to left, $primary 0%, $secondary 100%);
}

@mixin btnshadow {
    border-color: white;
    box-shadow: 0 2px 4px #0000004d, inset 0px 2px 4px #0000004d;
    transform: translateY(-1px);
}


@mixin monobtn {
    background:none;
    border:2px solid #d9d9d9;
    color: #404040;
    text-transform: none;
    outline: none;
    transition: all .1s ease-in-out;
    
}
@mixin primarybtn ($txtform) {
    background:$primary;
    border:none;
    color:$itext;
    text-transform:$txtform;
    outline: none;
    transition: all .1s ease-in-out;
}

@mixin successbtn () {
    color:$itext;
    transition: all .1s ease-in-out;
}

@mixin defaultbtn () {
    background:$primary;
    color:$itext;
    outline: none;
    transition: all .1s ease-in-out;
}
@mixin defaultout () {
    background:none;
    border-color:$primary;
    color:$primary;
    outline: none;
    transition: all .1s ease-in-out;
}
@mixin defaulthov () {
    background:$primary;
    border-color:$primary;
    color:white;
    outline: none;
    transition: all .1s ease-in-out;
}

@mixin warningbtn () {
    color:$itext;
    outline: none;
    transition: all .1s ease-in-out;
}

@mixin infobtn () {
    color:$itext;
    outline: none;
    transition: all .1s ease-in-out;
}

@mixin dangerbtn ($txtform) {
    background:$statred;
    color:$itext;
    outline: none;
    text-transform:$txtform;
    transition: all .1s ease-in-out;
}

// Custom Layout
.img-center{
    text-align: center;
}