/*============================================================================*/
/* Modal Dialog */
.modal-dialog.modal-lg{
    .modal-title{
        font-weight:bold;
        color:#ffffff;
        background:none;
    }
    .modal-header {
        padding:1.5rem;
        text-align:center;
        background:$primary;
    }
    .modal-footer {
        padding:1.5rem;
        background:$primary;
        .btn.btn-success {
            background: none;
            border:2px solid #ffffff;
            &:hover,
            &:active,
            &:focus{
                background: $secondary;
                border:2px solid $secondary;
            }
        }
    }
    .modal-lg {
        width:80%;
    }
    .btn.btn-danger {
        background: none;
        border:2px solid #ffffff;
        margin: auto;
        outline:none;
        &:hover,
        &:active,
        &:focus {
            background: $secondary;
            border:2px solid $secondary;
        }
    }
    .form-control{
        height: 40px;
    }
    .t-form{
        box-shadow: none;
    }
}