/*============================================================================*/
/* Profile Component */
.t-profilecomponent {
    border-radius:1rem;
    margin:.5rem auto;
    padding:1rem;

    @include media ('>phone'){
        @include shadows();
    }

    .form-horizontal {
        @include shadows();
        display:inline-block;
        max-width:100px;
        position:relative;
        text-align:center;
        z-index:1;
    }
    h3 {
        background:none;
        border-radius:15px 15px 0 0;
        color:$primary;
        font-weight:bold;
        margin:10px auto;
        padding:1rem;
        text-align:center;
    }
    .field-description{
        margin:5px auto;
    }
    form {
        background: #ffffff;
    }
    .form-control {
        background:rgba(109, 124, 144, .1);
        border:0;
        color:#333;
        font-size:15px;
        font-weight:bold;
        height:35px;
        line-height:1.429;
        padding:5px 15px;
        &:hover{
            border:2px solid $primary;
            box-shadow: none;
        }
        &:focus{
            background-color:#ffffff;
            border:2px solid $primary;
            box-shadow:none;
        }
    }
    .btn.btn-default.btn-sm.active{
        background-color:$primary;
    }
    .t-form-name label{
        color:$secondary;
    }
    .form-control::placeholder{
        color:#cccccc;
        opacity:1;
        font-weight: 500;
    }
    .input-group-addon:first-child {
        background:#333;
        color:#ffffff;
        font-weight:700;
    }
    .lbl {/*labels*/
        color:$primary;
        font-size:12px;
        font-weight:500;
        letter-spacing:1px;
        text-align:left;
        text-transform:uppercase;
    }
    .small-label{
        opacity: 0;
    }
    .field-address-label {  /*address*/
        @include hiderec();
    }
    .form-group .t-form-address div{
        width:100%;
    }
    .tb-checkbox{
        font-weight:bold;
        padding:5px 10px;
        text-align:left;
        &:hover{
            @include hoverbtn();
        }
    }
    .t-form-radio .tb-radio{    /*radio*/
        font-weight:bold;
        padding:5px 10px;
        text-align:left;
        width:100%;
        &:hover{
            @include hoverbtn();
            border-radius:15px;
        }
    }
    .t-form-multiple{   /*multi-select*/
        height:20vh;
    }
    .rzslider .rz-bubble {  /*slider*/
        bottom:16px;
        color:$primary;
        cursor:default;
        font-weight:bold;
        padding:1px 3px;
    }
    .rzslider .rz-bubble.rz-limit {
        color:$secondary;
    }
    .rzslider .rz-bar {
        background:#E8EAE5;
        border-radius:30px; 
        height:5px;
        left:0;
        width:100%;
        z-index:1;
    }
    .rzslider .rz-selection {
        background:#333;
        border-radius:2px;
        z-index:2;
    }
    .rzslider .rz-pointer {
        background-color:$primary;
        border-radius:16px;
        cursor:pointer;
        height:32px;
        top:-14px;
        width:32px;
        z-index:3;
        &:focus{
            outline:none;
        }
        &::after{
            background:#ffffff;
            border-radius:4px;
            content:'';
            height:8px;
            left:12px;
            position:absolute;
            top:12px;
            width:8px;
        }
        &:hover::after{
            background-color:#ffffff;
            outline: none;
        }
    }
    .rzslider .rz-pointer.rz-active:after {
        background-color:#ffffff;
    }
    .select2-results__option {  /*connection*/
        background-color:#ffffff;
        color:#333;
        font-size:14px;
        font-weight:700;
        padding:10px 20px;
        &:hover{
            @include hoverbtn();
        }
    }
    .btn-signin:focus {
        outline:none;
   }
    .input-group-btn:last-child>.btn,
    .input-group-btn:last-child>.btn-group {
        z-index:2;
    }
    .input-group-btn:last-child>.btn:hover,
    .input-group-btn:last-child>.btn-group {
        @include hoverbtn();
    }
    .form-navigation-pages ul li{
        &>.p-step{
            background:$secondary;
        }
        &:hover>.p-step,
        &:focus>.p-step{
            background:$primary;
            color:#ffffff;
            outline:none;
        }
        &>.p-title{
            padding: 10px;
        }
        & .fal{
            @include balance();
    
            font-style:inherit;
            font-size: 15px;
            line-height:3;
            margin:auto;
        }
    }
    .form-navigation-pages, 
    .form-navigation-pages ul li.active::after,
    .form-navigation-pages ul li.active > .p-step,
    .btn.btn-sm.active {
        background:$primary;
        color:#ffffff;
    }
    .fa-check{
        @include norecord();
        cursor: pointer;
     }
}