/* Branding */
@import "branding-Simplee";

.tabs {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 3rem;
    width: 100%;
    background-color: none;
    margin: 0 auto;
    white-space: nowrap;
    text-align: center;

    &.tabs-transparent {
        background-color: transparent;

        .tab a,
        .tab.disabled a,
        &:hover{
            color: rgba(255, 255, 255, 0.7);
        }

        .indicator {
            background-color: #fff;
        }
    }

    &.tabs-fixed-width {
        display: flex;

        .tab {
            flex-grow: 1;
        }
    }

    .tab {
        display: inline-block;
        text-align: center;
        line-height: 48px;
        height: 48px;
        padding: 0;
        margin: 0;
        text-transform: uppercase;

        a {
            color: $primary;
            font-weight: bold;
            display: block;
            width: 100%;
            height: 100%;
            padding: 0 24px;
            font-size: 14px;
            text-overflow: ellipsis;
            overflow: hidden;
            transition: color 0.28s ease, background-color 0.28s ease;

            &:focus,
            &:hover,
            &:active{
                color: $secondary;
            }
        }
    }
}

.tabs .tab.disabled a,
.tabs .tab.disabled a:hover {
    color: rgba(238, 110, 115, 0.4);
    cursor: default;
}

.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #f6b2b5;
    will-change: left, right;
}

@media only screen and (max-width : 992px) {
    .tabs {
        display: flex;
    }

    .tabs .tab {
        flex-grow: 1;
    }

    .tabs .tab a {
        padding: 0 12px;
    }
}