/*Theme Name:Better Never Stops - AIS Theme*/
/*ThemeTheme URI:*/
/*Description:This is the Official Theme for AIS*/
/*Designer: Manuel San Ramon*/
/*Template:*/
/*Version:1.0.0*/
/*Tags: customized*/

/* Branding */
@import "branding-Seccess";

/* Styling For All Components */
@import "mixins";
@import "_include-media.scss";
@import "globals";

/* Components - DO NOT DELETE*/
@import "accordion";
@import "breadcrumbs";
@import "calendar";
@import "card";
@import "chart";
@import "detail";
@import "form";
@import "html";
@import "image";
@import "kanban";
@import "list";
@import "login";
@import "map";
@import "menu";
// @import "menu-2";
@import "modal";
@import "profile";
@import "search";
@import "sidebar";
@import "signup";
@import "table";
@import "user-menu";

// Customization Starts Here

/* Ideal Furniture Logo Centered */
.seccess-centered{
    text-align: center;
}

.idf-cards-15{
    .t-card{
        .header.t-card-header,
        .header.t-card-header span{
            background: #ffffff;
            border-bottom:none;
            color:$primary;
            font-size:15px;
            font-weight: bold;
            text-align:center;
        }
    }
}